html，body{
	font-family: 'Roboto Slab', serif;
	height: 100%;
}
h1{
	font-size: 35px;
	text-align: center;
	color: #33AFFF;
}
#pic img{
	position: absolute;
	top:20%;
	left:38%;
	width:25%;
	margin: auto;
	box-shadow: 0px 0px 0px 0px white;
}
#tex{
	display: none;
	text-align: center;
	color:blue;
	text-decoration-style: solid;
	font-size: 35px;
	z-index: 100;
	top:50%;
}
footer{
	position:absolute;
	text-align: center;
	margin: auto;
	width: 100%;
	 top: 80%;
	 font-size: 25px;

}
footer a:hover{
	text-decoration: underline;
}
