@font-face { font-family: Open Sans; src: url('Delicious-Roman.otf'); }
html，body{
	color: #434242;
	font-family: 'Roboto Slab', serif;
	height: 100%;
}
body{
	background: #F3EFE0;
	font-size: 25px;
	line-height: 1.64;
	color: #434242;
  /* font-family: 'Open Sans', sans-serif !important;*/
  font-family: 'Roboto Slab', serif;
}
#list1 {
	position:fixed;
	text-align:center;
	top: 300px;
	bottom: 3000px;
	left: 0px;
	right: 0px;
	font-size: 45px;
}

#list2 {
	position: absolute;
	text-align: center;
	top: 2500px;
	bottom: 800px;
	left: 0px;
	right: 0px;
	font-size: 45px;
}

#bottom{
	position: absolute;
	text-align: center;
	top: 3000px;
	bottom: 800px;
	right:40px;
}
