html，body{
	font-family: 'Roboto Slab', serif;
	height: 100%;
}
#tit{
	position: absolute;
	left:10%;
}
#ball{
	width:100px;
	height:100px;
	border-radius: 50%;
	border-top: 50px solid #f00;
	border-bottom: 50px solid #000;
	animation: bounce infinite linear;
	animation-duration: 6s;
	position: absolute;
	left:50%;
}

.message{
	position: absolute;
	left:50%;
	top:50%;
	font-size: 30px;
	display: none;
}
#congra{
	color:blue;
}


@keyframes bounce {
  /*0% {transform: translate(0);}*/
	  0%   {top:6px;animation-timing-function: ease-in;}
		5%   {top:8px;}
		10%  {top:12px;}
		20%  {top:38px;}
		40%  {top: 300px; }
		45%  {top: 354px; animation-timing-function: ease-in; }
		50%  {top: 476px; animation-timing-function: ease-in-out; }
		55%  {top: 354px; animation-timing-function: ease-in;}
		60%  {top: 300px; }
		80%  {top: 38px; }
		90%  {top: 8px; }
		100% {top: 5px; animation-timing-function: ease-out;}
}
footer{
	font-size: 30px;
	position: absolute;
	right: 0;
	bottom: 30px;
	left: 0;
	text-align: center;
	background-color: green;
}
footer a{
	color: pink;
}
footer a:hover{
	text-decoration: underline;
}
